{% extends "views/base.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block header_import %}
<script defer="defer" src="{% static 'js/build/static/js/app.js'%}"></script>
<link href="{% static 'js/build/static/css/app.css' %}" rel="stylesheet">
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
<script>
  $(".options").click(function(event){
        event.stopPropagation();
        alert("The span element was clicked.");
    });
  activated = false;
  const handleChildElementClick = (e) => {
      e.stopPropagation()
      // Do other stuff here
   }
   window.onscroll = function() {
                    window.scrollTo(scrollLeft, scrollTop);
                };
  function showEditProfile(e) {
    console.log(e)
    const noise = document.getElementById('editProfile');
    const options = document.getElementById('options');

    const html = document.getElementsByTagName('html')[0];
    html.style.overflow = 'hidden';
    noise.style.display= 'block';
    options.style.display= 'block';

    console.log('hola');
  }

  function hideEditProfile(e){
    console.log(e)
    const noise = document.getElementById('editProfile');
    const options = document.getElementById('options');

    const html = document.getElementsByTagName('html')[0];
    html.style.overflow = 'scroll';
    noise.style.display= 'none';
    options.style.display= 'none';


    console.log('hola');
  }

</script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

{% endblock %}
{% block feed %}
{% load static %}

<style>

  #editProfile {
    display:none;
    position:absolute;
    left:0;
    top:0;
    backdrop-filter: blur(5px);
    width:100vw;
    height:100vh;
    z-index:1!important;
  }
  #options {
    position: fixed;
    z-index:100!important;
    margin:20px auto;
    z-index: 1;
    padding:10px;
    /*top:200px;*/
    background-color:white;
    height:300px;
    width:600px;
    font-weight:400;
    font-size:17px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display:none;

  }
  #options > .title {
    font-size:20px;
    font-weight:500;
    text-align:center;
  }

  #options > h3 {
    font-weight:500;
    font-size:17px;

  }
  .edit-banner{
    max-width:100%;
    aspect-ratio:3;
    position:relative;

  }
  .edit-header{
    max-width:100%;
    aspect-ratio:3;
  }
  .edit-profile-photo{
    bottom:-18%;
  }
  .edit-button{
    cursor:pointer;
    position:absolute;
    bottom:0;
    right:2%;
    color:black;
    background-color:rgb(200, 200, 200);
    padding:7px;
    border-radius:50%;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    }
    .config{
      cursor:pointer;
      background-color:#4392F1;
      color:white;
      font-weight:600;
      border-radius:20px;
      /*padding:7px;*/
      padding:2px 15px;
      margin-left:20px;
      margin-top:-3px;
      font-size:15px;
      font: 600 16px/24px Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
      float:right;
    }
    .save-button{
      cursor:pointer;

      position:absolute;
      bottom:10px;
      right:10px;
      font: 600 16px/24px Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
      background-color:#4392F1;
      color:white;
      font-weight:600;
      border-radius:20px;
      padding:2px 15px;


    }
  </style>
  <div onclick='hideEditProfile()' id = 'editProfile'>
  </div>

  <div id="options">
    <h2 class = 'title'>Configurar perfil</h2>

    <div class="edit-banner">
      <img class='edit-header' src="/banners/{{ current_profile }}">
      <div class="header-photo edit-profile-photo" >
        <span class="edit-button">
          <span class="material-symbols-outlined">
            edit
          </span>
        </span>
        <img src="/profile/media/{{ current_profile }}" class="profile-photo">
      </div>
      <span class="edit-button">
        <span class="material-symbols-outlined">
          edit
        </span>
      </span>
    </div>
    <div class="save-button">Guardar</div>

  </div>
  <div class="profile-header">
    <div class="banner">
    <img src="/banners/{{ current_profile }}">
    <div class="header-photo">
      <img src="/profile/media/{{ current_profile }}" class="profile-photo">
    </div>
  </div>
</div>

<div class="profile-description centerwrapper">
  <div class="user-data">
    <span class="fullname">{{fullname}}</span>
    <span class="username">@{{username}}</span>
  </div>
  <div class="Publication-count profile-description-counters">
    <span class="number"> 10 </span> <span>publicaciones</span>
  </div>
  <div class="follower-count profile-description-counters">
    <span class="number">100</span> <span>seguidores</span>
  </div>
  {% if user.username == username %}
  <div onclick="showEditProfile()" class='config'>
    Editar
  </div>
  {% else %}

  <div class='conf'>
    Seguir
  </div>

  {% endif %}
  <div class="description">
  I am a Ph.D. doctor and Academic Advisor interested in spreading scholarship postdoctoral positions faculty positions and research  information worldwide
</div>
</div>

<div class="profile-options">
  <div class='centerwrapper'>
    <a class="profile-options-link" href="/{{current_profile}}/">
      <div class="option">
        Principal
      </div>
    </a>
    <a class="profile-options-link" href="/{{current_profile}}/gallery/">
      <div class="option">
       <span class="material-symbols-outlined">
        gallery_thumbnail
      </span> Galería
    </div>
    </a>
  </div>
</div>
<div>
  <div id="root"></div>
</div>
{% endblock %}
{% block app-js %}
<!-- <script type="text/babel"  src="{% static '/js/feed-app.js' %}"></script> -->{% endblock %}



