html, body {
	margin: 0;
	padding:0;
	background-color: white;
	color: white;
	min-height: 100vh;
}

.main-container{
	max-width: 100%;
	min-height: 10vh;
	padding:0px;
	display: flex;
}
body { 
  width: 100vw; 
  height: 100vh; 
} 

.header{
	height:45px;
	width: 100%;
	position: fixed;
	display:block;
	z-index: 100;
	padding-left: calc(9%);
	background-color: rgb(255 255 255 / 100%);
	background-color: black;


	box-shadow: 4px 2px 2px 1px rgba(0, 0, 0, .2);
	/*border: 2px solid rgba(0,0,0,1);*/
}

.navigation-bar{
	position: fixed;
	width:inherit;
	background-color:#F5F5F5;
	background-color:white;

	color: black;
	margin-top: 50px;
	font-weight: 600;
	min-height: 100%;
	font-size: 18px;
}
.navigation-bar > .navigation-button{
	margin-left: 30px;
	margin-top: 30px;
	/*cursor: pointer;*/
	padding:2px;
}
.navigation-button:hover{
	margin-left: 35px;
	transition:0.2s;
}

.nativation-link{
	text-decoration: none;
	color: inherit;
	box-shadow: none;
}
.nativation-link:hover{
	text-decoration: none;
	color: inherit;
	box-shadow: none;
}

.navigation-label{
	margin-left: 8px;

}
.right-navigation{
	width: 250px;
}
.left-navigation{
	width: 200px;
}
.navigation-bar .navigation-button >p{
	float: left;
	padding: 10px;

}
.navigation-bar .navigation-button >span{
	float: left;
}
.root{
	display: block;
	/*width:  623px;*/

	width: 100%;
	max-width:100%;
	height: auto !important;
	padding-top: 60px;
	/*background-color: transparent;*/
	color: black;
	/*background-color:#F5F5F5;*/
}
.feed{
	width: 700px;
	max-width:700px;
	padding-top: 60px;
	/*background-color:#F5F5F5;*/
}
.logout-signin{
	position: fixed;
	bottom: 50px;
}

.publicate-container{
	align-items: stretch;
	box-sizing:border-box;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	font: inherit;
	font-size: 100%;
	margin: 20px auto;
	padding: 0;
	position: relative;
	vertical-align: baseline;
	width: 100%;
}

@media only screen and (max-width: 950px) {
	.feed{
		margin-right: 0;
		width: 100%;
	}
	.main-content{
		width:100vw;
		margin:0;
	}
	.right-navigation{
		width: 0;
		display: none;
	}
	.left-navigation{
		width: 80px;
		/*max-width:80px;*/
		min-width:80px;
	}
	.navigation-button{
		height:40px;
		width:80px;
	}
	.navigation-bar{
		width:80px;
	}
	.navigation-label {
		display:none;
	}
	.logout-signin{
		width:inherit!important;
	}
}

@media only screen and (max-width: 700px) {

	.left-navigation{
		display:none;
	}
	.feed{
		margin: 0 auto;
		width: 100%;
	}
	#root{
		padding:0px;
	}
}


.main-content{
	margin: 0 auto;
	min-height: 100vh;
	max-width:100%;
	background-color: white;
	display: flex;
}

.header-user{
	padding: 1px;
	height: inherit;
	margin:0;
	max-width:200px!important;
	/*background-color: red;*/
	/*border: 1px solid rgba(100, 100, 100, 0.5);*/
	border-bottom: none;
	border-top: none;
}
.header-user > div {
	display: table-cell;
	float: left;
	height: inherit;

}

.header-profile-photo-container{
	float: left;
	aspect-ratio:1/1;
	height:inherit;
	padding: 2px;
}

.header-profile-photo{
	width: 100%;
	border-radius: 50%;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header-username{
	padding: 4px;
	color: rgb(80, 80, 80);
	color: rgb(220, 220, 220);;

	font:600 17px/24px Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
	font-size: 16px;
}

.logout-signin{
	text-align: center;
	width: 200px;
}

.right-navigation{
	/*background-color:#F5F5F5;*/
	padding-top: 70px;
	width: 200px !important;
}
.publication-foot{
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.makePublication-container{
	position:relative;
	/*border: 2px solid rgba(0,0,0,0.1);*/
	width:460px;
	max-width:100%;
	margin:0 auto;
}

.publicate-input{
	max-width:100%;
	float:right;
	align-items: stretch;
	box-sizing:border-box;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	font: inherit;
	font-size: 100%;
	margin: 20px auto;
	padding: 0;
	position: relative;
	vertical-align: baseline;
	border: none;
	outline: none;
	width: 100%;
	font-size:24px;
	padding:5px;
}

.publicate-input:focus{
	border: 1px solid rgba(0,0,0,0.1);

}
.publicate-media-input{
	background-color:white;
}
.submit-button{
	bottom:0;
	right:10%;
	margin-right:10px;
	float:right;
	background-color:#4392F1;
	background-color:black;

	color:white;
	border:none;
	border-radius:17px;
	padding:4px 15px;
	font:600 16px/24px Google Sans,-apple-system,BlinkMacSystemFont,sans-serif;
}

.file-drop-area{
	position: relative;
	display: flex;
	align-items: center;
	max-width: 100%;
	padding:25px;
	border: 1px dashed rgba(255,255,255,0.4);
	border-radius: 3px;
	transition: .2s;
}

.choose-file-button{
	flex-shrink: 0;
	border-radius: 3px;
	padding:10px;
	margin-right: 10px;
	font-size: 12px;
	text-transform: uppercase;

}

.file-message{
	font-size: small;
	font-weight: 300;
	line-height: 1.4;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.file-input{
	position: absolute;
	left: 0;
	bottom:0;
	height: 100px;
	width:100;
	widows: 100%;
	cursor: pointer;
	opacity: 0;

}
.previewImage{
	width:100px;
	height: 100px;
	object-fit:cover;
	float:left;
	margin:4px;
}

.previewImage > img {
	object-fit:cover;
}

.nav-icon {
	float:left;
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48
}


.bookmark-icon{
  float: left;
  margin-top: 9px;
  margin-left: 20px;
  color:#6e6e6e;

  font-variation-settings:
  'FILL' 0,
  'opsz' 40
}


.bookmark-icon:hover  {
  transform: scale(1.1, 1.1);
  fill: red;
  cursor: pointer;
}